.PageTop{
    background-color:#3D52A0;
    color: white;
    font-family: 'Nunito', monospace;
    height: 80px;
    font-size: 22px;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.Title{
    margin-left: 20px ;
    font-weight: bold;
}
.button-Group{
    border: none;
    color:  white;
    justify-content: flex-end;
    margin-right: 20px;
}
.btn1{
    background-color:#3D52A0;
    color: white;
    border:  none;
    margin-right: 15px;
}
.btn2{

    background-color:#3D52A0;
    color: white;
    border:  none;
}
.text{
    width: 50%;
    font-size: 20px ;
    position: relative;
    left: 25px;
    font-family: 'Nunito', monospace;
}
.image{
    width: 250px;
    max-width: 100%;
    position: relative;
    left: 60%;
    height: 25%;
    margin-top: 20%;
    border-radius: 50%;

}
.body{
    background-color:#7091E6;
    color: white;
    font-family: 'Nunito', monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}
.Header_Txt{
    position: relative;
    right: 5%;
    top: 20%;
}
.text{
    position: relative;
    right: 50%;
    top: 30%;
}
