.PageTop{
    background-color: #0a192f;
    color: white;
    font-family: 'Nunito', monospace;
    height: 80px;
    font-size: 22px;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.Title{
    margin-left: 20px ;
    font-weight: bold;
}
.button-Group{
    border: none;
    color:  white;
    justify-content: flex-end;
    margin-right: 20px;
}
.btn1{
    background-color:#3D52A0;
    color: white;
    border:  none;
    margin-right: 15px;
}
.btn2{

    background-color:#3D52A0;
    color: white;
    border:  none;
}
.text{
    width: 50%;
    font-size: 20px ;
    position: relative;
    left: 25px;
    font-family: 'Nunito', monospace;
}
.body{
    background-color:#0a192f;
    color: white;
    font-family: 'Nunito', monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;


}
.image{
    width: 250px;
    max-width: 100%;
    height: 25%;
    border-radius: 50%;
    align-self: center;
}

.Header_Txt{
    font-weight: bold;
    align-self: flex-start;

}
.text{
    align-self: flex-start;
}
.opening_text{
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    left: 100px;

}
