.background{
    background-color: #0a192f;
    min-height: 100vh;
    font-family: 'Nunito', monospace;
}
.PageTop{
    color: white;
    font-family: 'Nunito', monospace;
    height: 80px;
    font-size: 22px;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Title{
    margin-left: 20px ;
    font-weight: bold;
}
.button-Group{
    border: none;
    color:  white;
    justify-content: flex-end;
    margin-right: 20px;
    text-decoration:  none;
}
.btn1{
    color: white;
    border:  none;
    margin-right: 20px;
    text-decoration:  none;
}
.btn2{
    color: white;
    border:  none;
    text-decoration:  none;
    margin-right: 20px;
}
.btn3{
    color: white;
    border:  none;
    margin-right: 20px;
    text-decoration:  none;
}
.body{
    margin: 170px auto 0 auto;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}

.opening_text{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-self: center;
    text-align: left;
    margin-top: 70px;
    width: 100%;

}
.Header_Txt{
    font-weight: bold;
    font-size: 70px;
    text-align: left;
    flex-shrink: 2;
}
.sub_text{
    text-align: left;
    font-size: 25px;
    width: 75%;
}
.about{
    margin-top: 54vh;
    scroll-margin: 100px;
}
@media (min-width: 768px) {
    .grid{
        width: 75%;
        display: grid;
        align-items: center;
        align-self: center;
    }
}
@media (max-width: 768px) {
    .grid{
        width: 75%;
    }
    .about{
        margin-top: 30vh;
    }
}
.grid_left
{
    grid-column: 0 / span 1;
    grid-row: 0/ span 4;
    margin-right: 10px;
    align-self: center;
}
.image{
    width: 350px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    align-self: center;
    grid-column: 2 / span 1;
    grid-row: 0 / span 3;
}
.h2{
    font-size: 20px;
}
#projects{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}
ul::before{
    background-image: url('src/assets/chevron-right-small.svg');
}